<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mti.hip" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="HIP"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignOnActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DiagnosisActivity"
            android:label="Visit Entry"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".SuperActivity" >
        </activity>
        <activity android:name=".VisitSummaryActivity" >
        </activity>
        <activity android:name=".DashboardActivity" >
        </activity>
        <activity android:name=".DemographicEntryActivity" >
        </activity>
    </application>

</manifest>
