<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mti.hip" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="HIP"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignOnActivity"
            android:label="@string/sign_in"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DiagnosisActivity"
            android:label="@string/visit_entry"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".SuperActivity" >
        </activity>
        <activity android:name=".VisitSummaryActivity"
            android:label="@string/visit_summary">
        </activity>
        <activity android:name=".DashboardActivity"
            android:label="@string/dashboard">
        </activity>
        <activity android:name=".ConsultationActivity"
            android:label="@string/consultation">
        </activity>
        <activity android:name=".FacilitySelectionActivity"
            android:label="@string/select_facility">
        </activity>
        <activity android:name=".ClinicianSelectionActivity"
            android:label="@string/choose_your_name">
        </activity>
        <activity android:name=".LocationSelectionActivity"
                  android:label="@string/select_location">
        </activity>
    </application>

</manifest>
